<mat-card>
  <mat-card-title>
    Bienes Muebles Activos
  </mat-card-title>
  <mat-card-content>
    <table mat-table [dataSource]="dataSource" matSort (matSortChange)="announceSortChange($event)"
        class="mat-elevation-z8">

      <ng-container matColumnDef="id_bien">
        <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by number">
          ID
        </th>
        <td mat-cell *matCellDef="let data"> {{data.id_bien}} </td>
      </ng-container>

      <ng-container matColumnDef="descripcion">
        <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by name">
          Descripcion
        </th>
        <td mat-cell *matCellDef="let data"> {{data.descripcion}} </td>
      </ng-container>

      <ng-container matColumnDef="no_serie">
        <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by weight">
          No. Serie
        </th>
        <td mat-cell *matCellDef="let data"> {{data.no_serie}} </td>
      </ng-container>

      <ng-container matColumnDef="resguardante">
        <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by symbol">
          Resguardante
        </th>
        <td mat-cell *matCellDef="let data"> {{data.resguardante}} </td>
      </ng-container>

      <ng-container matColumnDef="marca">
        <th mat-header-cell *matHeaderCellDef>
          Marca
        </th>
        <td mat-cell *matCellDef="let data"> {{data.marca}} </td>
      </ng-container>

      <ng-container>

      </ng-container>

      <ng-container>

      </ng-container>

      <ng-container>

      </ng-container>

      <ng-container>

      </ng-container>

      <ng-container>

      </ng-container>

      <ng-container>

      </ng-container>

      <ng-container>

      </ng-container>

      <ng-container>

      </ng-container>

      <ng-container>

      </ng-container>

      <ng-container>

      </ng-container>


      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
    <mat-paginator [pageSizeOptions]="[5, 10, 20, 100]"
                    showFirstLastButtons
                    aria-label="Select page of periodic elements">
    </mat-paginator>
  </mat-card-content>
</mat-card>
