img{
  display: block;
  margin-left: auto;
  margin-right: 20%;
  bottom: 2%;
  margin-top: 2% !important;
  width: auto;
  height: 90px;
  position: relative;
}

footer {
  background-color: #0c2f25;
  border-top: 1px solid #bbb;
  color: #fff;
  text-align: center;
  left: 0;
  bottom: 0;
  width: 100%;
}
