.bimage{
  background-image: url("../../../assets/background.jpg");
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover; /* Resize the background image to cover the entire container */
  height: 67.7vh;
  overflow: hidden;
}

.main-div{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5%;
}

img{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 250px;
  height: 250px;
}

.container {
  -ms-overflow-style: none;  /* Internet Explorer 10+ */
  scrollbar-width: none;  /* Firefox */
}

.container::-webkit-scrollbar {
  display: none;  /* Safari and Chrome */
}

.login-button{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 200px;
}

